@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;

    /* SEVEN */
    --seven-hyperlink: #337AB7;
    --seven-bg-navbar: #323232;
    --seven-bg-bread: #F5F5F5;
    --seven-foreground-light: #000000;
    --seven-foreground-dark: #FFFFFF;
    --seven-bg-table: #F9F9F9;
    --seven-bg-blue-light:#D9EDF7;
    --seven-page-heading: #003366;
    --seven-page-subheading: #777777;
    --seven-bg-button-primary: #4DBADB;
    --seven-bg-table-heading: #337AB2;
    --seven-border-filter: #3C763D;
    --seven-navbar-brand: #9D9D9D;
    --seven-border-grey: #DDDDDD;
    --seven-border-button-primary: #269ABC;
    --seven-bg-presensi-exist: #0691D5;
    --seven-bg-presensi-skip: #DF0E0E;
    --seven-bg-presensi-done: #16A60E;
    --seven-selected-item-dark: #080808;
    --seven-hover-light: #e8e8e8;
    --seven-filter: #555;
    --seven-bg-button-primary-hover: #2aabd2;
    --seven-hyperlink-hover: #23527c;
    --seven-bg-button-dark: #337ab7;
    --seven-border-button-dark: #245580;
    --seven-bg-button-dark-hover: #265a88;
    
    --seven-font-size-default: 14px;
    --seven-font-size-page-title: 36px;
    --seven-font-size-page-subtitle: 23.4px;
    --seven-font-size-table-content: 13px;
    --seven-font-size-footer-title: 28px;
    --seven-font-size-footer-body: 12px;
    --seven-font-size-footer-icons: 16px;
    --seven-font-size-navbar-dropdown: 15px;
    --seven-font-size-navbar-brand: 18px;
    --seven-font-size-table-heading: 16px;
    --seven-font-size-filter: 12px;
    --seven-font-size-modal-title: 22px;
    --seven-font-size-modal-content: 11.9px;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply text-seven-hyperlink;
  }

  a:hover {
    @apply text-seven-hyperlink-hover;
  }
}